<div class="topbar">
  <div class="topbar-left">
    <a href="#">VỀ Fit Sport</a>
    <a href="#">
      Voucher ngập tràn ngày 31/10 !
    </a>
  </div>
</div>  

<div class="header">
  <div class="logo">
    <img src="assets/images/logo_main_black.png" alt="Fitsport Logo">
  </div>  

  <ul class="menu">
    <li><a class="menu-link" href="/home">TRANG CHỦ</a></li>
    <li><a class="menu-link" href="/gioi-thieu">GIỚI THIỆU</a></li>
    <li><a class="menu-link" href="/products">SẢN PHẨM</a></li>
    <li><a class="menu-link" href="#">BÀI VIẾT</a></li>
    <li><a class="menu-link" href="#">LIÊN HỆ</a></li>
  </ul>

  <div class="actions">
    <div class="search">
      <input type="text" placeholder="Tìm kiếm...">
      <button>
        <svg viewBox="0 0 24 24"><circle cx="11" cy="11" r="6" stroke="black" stroke-width="1.5" fill="none"/><path d="M21 21l-4.35-4.35" stroke="black" stroke-width="1.5" fill="none"/></svg>
      </button>
    </div>

    <div class="header-actions">
      <ng-container *ngIf="userName; else showLogin">
        <a class="user-greeting" [routerLink]="['/account']">Xin chào, {{ userName }} </a>
        <button class="icon-btn" (click)="logout()" title="Đăng xuất">
          <i class="fa-solid fa-right-from-bracket"></i>
        </button>
      </ng-container>

      <ng-template #showLogin>
        <button class="icon-btn" (click)="goToLogin()">
          <i class="fa-regular fa-user"></i>
        </button>
      </ng-template>

      <div class="cart-icon">
        <i class="fa-solid fa-bag-shopping"></i>
        <span class="cart-count">0</span>
      </div>
    </div>
  </div>
</div>
