<header class="header">
  <div class="top-bar">
    <div class="logo">FITSPORT</div>

    <div class="search-bar">
      <input type="text" placeholder="Tìm kiếm sản phẩm, môn thể thao" />
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <div class="actions">
      <div class="action-item">
        <i class="fa-solid fa-user"></i>
    
        <span>Đăng nhập</span>
      </div>
      <div class="action-item">
        <i class="fa-solid fa-cart-shopping"></i>
        <span>Giỏ hàng</span>
      </div>

      <div class="action-item">
        <i class="fa-solid fa-headset"></i>
        <span>Hỗ trợ</span>
      </div>
    </div>
  </div>

  <nav class="menu-bar">
    <ul>
      <li>Môn thể thao</li>
      <li>Nam </li>
      <li>Nữ </li>
      <li>Phụ kiện</li>
      <li>Mặc hằng ngày</li>
      <li>Giá giảm</li>
    </ul>
  </nav>
</header>
