/* Layout chính */
.voucher-page {
  display: flex;
  gap: 25px;
  padding: 20px;
}

/* Bên trái */
.voucher-left {
  flex: 3;
}

/* Bên phải */
.voucher-right {
  flex: 1.2;
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  height: fit-content;
  
}

.voucher-right h2 {
  font-size: 25px;
  margin-bottom: 15px;
  border-left: 4px solid #ff4d4f;
  padding-left: 8px;
  font-weight: 600;
}

.voucher-right .news-title {
  font-size: 20px; /* tăng từ 14px lên 16px */
  font-weight: 700; /* in đậm hơn */
}


.voucher-right .news-date {
  font-size: 15px; /* tăng từ 12px lên 14px */
  color: #666;
  margin-top: 6px;
}

/* News item */
.news-item {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.thumb {
  width: 90px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.news-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-title {
  font-size: 14px;
  font-weight: 600;
  color: #222;
  text-decoration: none;
}
.news-title:hover {
  color: #ff4d4f;
}

.news-date {
  font-size: 12px;
  color: #666;
  margin-top: 4px;
}

/* Voucher Card */
.voucher-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  border-radius: 10px;
  padding: 15px 18px;
  margin-bottom: 12px;
  border-left: 4px solid #ff4d4f;
}

.voucher-card h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.voucher-info p {
  margin: 3px 0;
  font-size: 14px;
}

.date {
  font-size: 13px;
  color: #999;
}

/* Button */
.copy-btn {
  background: #ff4d4f;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}
.copy-btn:hover {
  background: #e6393f;
}

/* Filter tabs */
.filter-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-tabs button {
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #f2f2f2;
  font-size: 14px;
}

.filter-tabs .active {
  background: #ff4d4f;
  color: #fff;
}

/* Load more */
.load-more {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

.load-more button {
  width: 20%;
  padding: 12px;
  border-radius: 10px;
  background: #ff4d4f;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.load-more button:hover {
  background: #e6393f;
}

/* Responsive */
@media (max-width: 992px) {
  .voucher-page {
    flex-direction: column;
  }
}
