version: "3.9"

services:
  backend:
    image: vohongphat/backend:latest
    container_name: backend
    restart: always
    ports:
      - "3000:3000"

  frontend:
    image: vohongphat/frontend:latest
    container_name: frontend
    restart: always
    ports:
      - "80:80"
