.admin-header {
  height: 70px;
  background: #1e1e1e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  margin-left: 260px;
  border-bottom: 1px solid #333;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 22px;
}

.icon {
  width: 26px;
  border-radius: 4px;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.info span {
  font-size: 12px;
  color: #bbb;
}
