.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 110vh;
}

.login-card {
  background: whitesmoke;
  padding: 2rem;
  border-radius: 16px;
  width: 200;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
.login-card h2 {
  margin: 0px 0 0px 0;
  font-size: 1.8rem;
}

.logo {
  width: 160px;
  height: 80px;
  
}

.login-card p {
  margin: 0;
  color: #555;
  font-size: 0.95rem;
}

.benefits {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}
.google-btn, .facebook-btn {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}
.google-btn {
  background: #fff;
  border: 1px solid #ccc;
}
.facebook-btn {
  background: #1877f2;
  color: #fff;
}
.divider {
  margin: 1rem 0;
  color: #888;
  font-size: 0.9rem;
}
input {
  width: 93%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
}
button[type="submit"] {
  width: 99%;
  padding: 0.75rem;
  background: #000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;

}
.links {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.links a {
  color: #007bff;
  text-decoration: none;
}
.message-box {
  width: 98%;
  margin-top: 12px;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  user-select: none;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.message-error {
  color: #fff;
  background-color: #e74c3c; /* đỏ */
  box-shadow: 0 2px 6px rgba(231, 76, 60, 0.4);
}

.message-success {
  color: #fff;
  background-color: #2ecc71; /* xanh lá */
  box-shadow: 0 2px 6px rgba(46, 204, 113, 0.4);
}
