.sidebar {
  width: 260px;
  background: #1e1e1e;
  height: 100vh;
  padding: 20px 0;
  position: fixed;
  color: #ccc;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo img {
  width: 120px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 14px 25px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.menu li:hover {
  background: #2a2a2a;
  color: white;
}

.menu li.active {
  background: #0d6efd;
  color: white;
  border-radius: 6px;
}
