<div class="forgot-container">
  <h3>Yêu cầu mã đặt lại mật khẩu</h3>
  <form (ngSubmit)="onRequest()">
    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Nhập email"
      required
    />
    <button type="submit">Gửi mã</button>
        <div *ngIf="message" class="message-box" [ngClass]="isError ? 'message-error' : 'message-success'">
      {{ message }}
    </div>
        <div class="links">
      <a routerLink="/home">Quay lại trang chủ</a>
      </div>
  </form>
</div>
