@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif !important;
}

app-root {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}

router-outlet {
  flex: 1;
}
