<section class="category-section">
    <h2 class="title">Danh mục sản phẩm</h2>
  
    <div class="category-wrapper" *ngIf="categories.length > 0">
        <button class="nav-arrow nav-arrow-left" (click)="scrollLeft()" *ngIf="canScrollLeft">
            <i class="bx bx-chevron-left"></i>
        </button>
        
        <div class="category-list" #categoryList (scroll)="onScroll()">
            <div class="category-card" *ngFor="let cat of categories" (click)="handleCardClick(cat.slug!)" [style.background-image]="'url(' + cat.image + ')'">
                <div class="category-overlay"></div>
                <div class="category-content">
                    <h3>{{cat.name.toUpperCase()}}</h3>
                    <i class="bx bx-play"></i>
                </div>
            </div>
        </div>
        
        <button class="nav-arrow nav-arrow-right" (click)="scrollRight()" *ngIf="canScrollRight">
            <i class="bx bx-chevron-right"></i>
        </button>
    </div>
    <p *ngIf="categories.length === 0" class="empty">Đang tải danh mục ...</p>
</section>